In [20]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score

In [21]:
insurance = pd.read_csv(r'C:\Users\mikes\Downloads\insurance.csv')

In [23]:
insurance.describe()

               age          bmi     children       charges
count  1338.000000  1338.000000  1338.000000   1338.000000
mean     39.207025    30.663397     1.094918  13270.422265
std      14.049960     6.098187     1.205493  12110.011237
min      18.000000    15.960000     0.000000   1121.873900
25%      27.000000    26.296250     0.000000   4740.287150
50%      39.000000    30.400000     1.000000   9382.033000
75%      51.000000    34.693750     2.000000  16639.912515
max      64.000000    53.130000     5.000000  63770.428010

In [24]:
#input and output data preparation

In [35]:
X = insurance.drop(['age','charges'], axis=1)

In [28]:
X.shape

(1338, 5)

In [40]:
print(x[:10])

      sex     bmi  children smoker     region
0  female  27.900         0    yes  southwest
1    male  33.770         1     no  southeast
2    male  33.000         3     no  southeast
3    male  22.705         0     no  northwest
4    male  28.880         0     no  northwest
5  female  25.740         0     no  southeast
6  female  33.440         1     no  southeast
7  female  27.740         3     no  northwest
8    male  29.830         2     no  northeast
9  female  25.840         0     no  northwest

In [30]:
#splitting data into training and testing datasets

In [42]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1338 entries, 0 to 1337
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       1338 non-null   int64
 1   sex       1338 non-null   object
 2   bmi       1338 non-null   float64
 3   children  1338 non-null   int64
 4   smoker    1338 non-null   object
 5   region    1338 non-null   object
 6   charges   1338 non-null   float64
dtypes: float64(2), int64(2), object(3)
memory usage: 73.3+ KB

In [43]:
df.isnull().sum()

age         0
sex         0
bmi         0
children    0
smoker      0
region      0
charges     0
dtype: int64

In [44]:
df.sex.unique()

array(['female', 'male'], dtype=object)

In [45]:
pd.get_dummies(df['sex']).head()

   female  male
0       1     0
1       0     1
2       0     1
3       0     1
4       0     1

In [47]:
sex = pd.get_dummies(df['sex'], drop_first=True)
sex.head()

   male
0     0
1     1
2     1
3     1
4     1

In [49]:
df.region.unique()

array(['southwest', 'southeast', 'northwest', 'northeast'], dtype=object)

In [50]:
region = pd.get_dummies(df['region'], drop_first=True)
region.head()

   northwest  southeast  southwest
0          0          0          1
1          0          1          0
2          0          1          0
3          1          0          0
4          1          0          0

In [51]:
new_data = pd.concat([df,region,sex], axis=1)

In [52]:
new_data.head()

,age,sex,bmi,children,smoker,region,charges,northwest,southeast,southwest,male
0,19,female,27.900,0,yes,southwest,16884.92400,0,0,1,0
1,18,male,33.770,1,no,southeast,1725.55230,0,1,0,1
2,28,male,33.000,3,no,southeast,4449.46200,0,1,0,1
3,33,male,22.705,0,no,northwest,21984.47061,1,0,0,1
4,32,male,28.880,0,no,northwest,3866.85520,1,0,0,1

In [55]:
new_data.drop(['sex','region'], axis=1, inplace=True);

In [56]:
new_data.head()

,age,bmi,children,smoker,charges,northwest,southeast,southwest,male
0,19,27.900,0,yes,16884.92400,0,0,1,0
1,18,33.770,1,no,1725.55230,0,1,0,1
2,28,33.000,3,no,4449.46200,0,1,0,1
3,33,22.705,0,no,21984.47061,1,0,0,1
4,32,28.880,0,no,3866.85520,1,0,0,1

In [57]:
y = new_data.smoker
y.head()

0    yes
1     no
2     no
3     no
4     no
Name: smoker, dtype: object

In [58]:
y.unique()

array(['yes', 'no'], dtype=object)

In [66]:
y = y.map({'yes': 0, 'no': 1})
y.head()

0    0
1    1
2    1
3    1
4    1
Name: smoker, dtype: int64

In [67]:
new_data.drop('smoker', axis=1, inplace=True);

In [68]:
new_data.head()

   age     bmi  children      charges  northwest  southeast  southwest  male
0   19  27.900         0  16884.92400          0          0          1     0
1   18  33.770         1   1725.55230          0          1          0     1
2   28  33.000         3   4449.46200          0          1          0     1
3   33  22.705         0  21984.47061          1          0          0     1
4   32  28.880         0   3866.85520          1          0          0     1

In [70]:
X = new_data

In [71]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=0)

In [72]:
print('X_train', X_train.shape)
print('X_test', X_test.shape)
print('y_train', y_train.shape)
print('X_test', y_test.shape)

X_train (936, 8)
X_test (402, 8)
y_train (936,)
X_test (402,)

In [ ]:
#Training Random Forest classification on training dataset

In [73]:
from sklearn.ensemble import RandomForestClassifier
classifier = RandomForestClassifier(n_estimators = 5, criterion = 'entropy', random_state = 0)
classifier.fit(X_train, y_train)

RandomForestClassifier(criterion='entropy', n_estimators=5, random_state=0)

In [74]:
#predicting the test result

In [75]:
y_pred = classifier.predict(X_test)
y_pred

array([1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 0, 0, 1,
       1, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 0, 0, 1, 1, 1, 0, 0,
       0, 1, 1, 1, 1, 0, 1, 0, 1, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1,
       0, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 0, 0, 1, 0, 1, 1, 0, 0, 1, 1,
       1, 0, 1, 1, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 0,
       1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 0, 0, 0, 1, 1, 1,
       1, 1, 1, 0, 0, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 1, 0, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1,
       1, 1, 1, 0, 1, 0, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 0,
       1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1,
       1, 1, 0, 1, 0, 1, 0, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 0, 1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1,
       1, 0, 1, 1, 0, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 0, 0, 1, 0,
       1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 0, 1, 0, 0, 1, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 0,
       1, 1, 0, 1, 0, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1], dtype=int64)

In [76]:
#confusion Matrix

In [77]:
from sklearn.metrics import confusion_matrix
from sklearn.metrics import classification_report,accuracy_score

In [78]:
cm =confusion_matrix(y_test, y_pred)
print(cm)

[[ 73  11]
 [  9 309]]

In [79]:
accuracy_score(y_test, y_pred)

0.9502487562189055

In [80]:
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

           0       0.89      0.87      0.88        84
           1       0.97      0.97      0.97       318

    accuracy                           0.95       402
   macro avg       0.93      0.92      0.92       402
weighted avg       0.95      0.95      0.95       402

In [81]:
#different number of trees with gini index

In [83]:
from sklearn.ensemble import RandomForestClassifier
classifier = RandomForestClassifier(n_estimators = 7, criterion = 'gini', random_state = 0)
classifier.fit(X_train, y_train)

RandomForestClassifier(n_estimators=7, random_state=0)

In [84]:
y_pred = classifier.predict(X_test)
y_pred

array([1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 0, 0, 1,
       1, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 0, 0, 1, 1, 1, 0, 0,
       0, 1, 0, 1, 1, 0, 1, 0, 1, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1,
       0, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 0, 0, 1, 0, 1, 1, 0, 0, 1, 1,
       1, 0, 1, 1, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 0,
       1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 0, 0, 0, 1, 1, 1,
       1, 1, 1, 0, 0, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1,
       1, 1, 1, 0, 1, 0, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 0,
       1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1,
       1, 1, 0, 1, 1, 1, 0, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 0, 1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1,
       1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 0, 0, 1, 0,
       1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 1, 0, 1, 1,
       1, 1, 0, 1, 0, 0, 1, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 0,
       1, 1, 0, 1, 0, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1,
       1, 1, 0, 1, 1, 1], dtype=int64)

In [85]:
accuracy_score(y_test, y_pred)

0.9427860696517413